body{
  font-family: "Jersey 15", sans-serif;
  font-size: 1.6rem;
  background: linear-gradient(135deg, #1a1a1a, #212529);
  color: #ffffff;
}

#root {
  width: 100%;
  text-align: center;
}

/*Navbar*/

.navbar{
  font-size: 2rem;
}

.navbar-brand{
  font-size: 2.2rem;
}

.navbar-dark .navbar-nav .nav-link {
  color: #ffffff;
}

.navbar-dark .navbar-nav .nav-link:hover {
  color: #cccccc;
}

.navbar-dark .navbar-brand {
  color: #ffffff;
}

.navbar-dark .navbar-brand:hover {
  color: #cccccc;
}

.reactarcade-logoimg{
  height: 64px;
}

main.container{
  margin-top: 90px;
}

.card-title{
  font-size: 2.2rem;;
}

.lead.text-info{
  font-size: 2rem;
}

/*Games*/

.gamecontainer {
  text-align: center;
  position: relative;
  height: 80vh;
  overflow: hidden;
}

.start-screen button {
  padding: 10px 20px;
  font-size: 18px;
  cursor: pointer;
}

.bins {
  display: flex;
  justify-content: space-around;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.bin {
  width: 100px;
  height: 100px;
  border: 2px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  transition: transform 0.05s ease-in-out;
}

.plastic-bin {
  background-color: lightblue;
}

.paper-bin {
  background-color: lightgreen;
}

.trash {
  position: absolute;
  width: 50px;
  height: 50px;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.spinning-image {
  animation: spin 2s linear infinite;
}

.grow {
  transform: scale(1.1);
}

/* MemoryGmae */

.cards{
  padding: 50px;
}

.memory-card {
  width: 100%;
  height: 100%;
  cursor: pointer;
  border: 2px solid #333;
  border-radius: 10px;
  overflow: hidden;
  transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.memory-card img {
  object-fit: cover;
}

.memory-card.animate {
  transform: scale(1.1);
  background-color: #c09762
}

.memory-card.active {
  border-color: #00ff00;
}